 .u-section-1 {
  background-image: linear-gradient(rgba(156,122,23,0.75), rgba(212,101,14,0.75));
}

.u-section-1 .u-sheet-1 {
  min-height: 2534px;
}

.u-section-1 .u-shape-1 {
  width: 115px;
  height: 115px;
  margin: 81px 70px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 788px;
  height: 737px;
  background-image: none;
  margin: -144px auto 0 19px;
}

.u-section-1 .u-image-1 {
  width: 637px;
  height: 637px;
  background-image: url("images/Leopardi_Giacomo_1798-1837_-_ritr._A_Ferrazzi_Recanati_casa_Leopardi.jpg");
  background-position: 50% 50%;
  margin: -687px auto 0 95px;
}

.u-section-1 .u-group-1 {
  min-height: 1652px;
  width: 1129px;
  margin: 69px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 52px auto 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 38px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2617px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 49px;
    margin-right: 99px;
  }

  .u-section-1 .u-shape-2 {
    width: 695px;
    height: 635px;
    margin-top: -134px;
    margin-left: -12px;
  }

  .u-section-1 .u-image-1 {
    width: 573px;
    height: 573px;
    margin-top: -616px;
    margin-left: 58px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1519px;
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3223px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-shape-2 {
    height: 564px;
    width: 654px;
    margin-top: -90px;
    margin-right: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 467px;
    height: 467px;
    margin-top: -531px;
    margin-right: 113px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 1907px;
    margin-top: 59px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 37px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2437px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 50px;
  }

  .u-section-1 .u-shape-2 {
    height: 520px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 456px;
    width: 456px;
    margin-right: 73px;
  }

  .u-section-1 .u-group-1 {
    min-height: 668px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4019px;
  }

  .u-section-1 .u-shape-1 {
    width: 91px;
    height: 91px;
    margin-top: 17px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-1 .u-shape-2 {
    height: 260px;
    width: 325px;
    margin-top: 14px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 249px;
    width: 249px;
    margin-top: -260px;
    margin-right: 0;
    margin-left: 38px;
  }

  .u-section-1 .u-group-1 {
    min-height: 3546px;
    margin-top: 86px;
    margin-bottom: 17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}